<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content=""
      width="device-width,"
      initial-scale="1.0"
    />
    <title> Online Shooping </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/first.css'%}">

  </head>
  <body style="background-color: rgba(93, 123, 127, 0.228);">
       <!-- NavBar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-white py-0 fixed-top">
         <div class="container-fluid">
        <img src="https://www.bing.com/images/search?view=detailV2&ccid=IiDAOO5R&id=6BD7B7AB722326EDD6A83C4CEC9FE89257DEDB0A&thid=OIP.IiDAOO5RIlnIMx46Vkp2vQHaHa&mediaurl=https%3a%2f%2f5prorwxhrnlrrii.ldycdn.com%2fcloud%2flpBqjKmpRiqSniiinkjo%2fHZ57104.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.2220c038ee512259c8331e3a564a76bd%3frik%3dCtveV5Lon%252bxMPA%26pid%3dImgRaw%26r%3d0&exph=750&expw=750&q=protein+powder+logo&simid=608030978549364129&FORM=IRPRST&ck=448F1A0F68777B8BCE84BD27242C4023&selectedIndex=33&qpvt=protein+powder+logo" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i id="bar" class="fal fa-bars"></i>></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
           
            <li class="nav-item">
              <a class="nav-link active" href="first.html">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact Us</a>
            </li>
            
            <li class="nav-item">
              <a href="/customer/login">
                <button>Log In</button> </a>
            </li>
            <li>
            <a href="/dashboard/adminlogin" style="margin-left: 5px;">
              <button>Admin</button> </a>
            </li>
          </div>
        </div>
      </nav>

      <section id="home">
        <div class="container-fluid">
          <h5>NEW ARRIVALS</h5>
          <H1><SPAN>Best Price</SPAN> This Year</H1>
          <p>our service always for our valueable coustomer.</p>
          <a href="shop.html">
          <button>Shop Now</button> </a>
        </div>
      </section>

     

      <section id="new" class="w-100">
        <div class="row p-0 m-0">
          <div class="one col-lg-6 col-md-12 col-12 p-0">
            <img class="image-fluid" src="https://i.pinimg.com/originals/ab/34/88/ab3488c56e24c08aac46874093919ad5.jpg">
            <div class="details">
              <h2>
              <a href="shop.html">
              <button class="text-upperclass"></button></a>
            </div>
          </div>
          <div class="one col-lg-6 col-md-12 col-12 p-0">
            <img class="image-fluid" src="https://live.staticflickr.com/7573/15896771920_f7422e9421.jpg" alt="image">
            <div class="details">
              <h2></h2>
              <a href="shop.html">
              <button class="text-upperclass"></button></a>
            </div>
          </div>
        </div>

      </section>

      <section id="featured" class="my-5 pb-5" >
        <div class="container text-center mt-5 py-5">
          <h3>Our Featured</h3>
          <hr>
          <p>Here you can check our new items.</p>
        </div>
        <div class="row mx-auto container-fluid">
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7499f784814377.5d68802da60e1.jpg" alt="">
          <h5 class="p-name">
            protion powder</h5>
          <h4 class="p-price">Nrp 9200</h4>
          <a href="singleProduct.html">
          <button class="buy-btn">Buy Now</button></a>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="https://5prorwxhrnlrrii.ldycdn.com/cloud/lpBqjKmpRiqSniiinkjo/HZ57104.jpg" alt="">
          <h5 class="p-name">
            protion powder</h5>
        <h4 class="p-price">Nrp 18200</h4>
        <a href="singleProduct.html">
          <button class="buy-btn">Buy Now</button></a>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="https://www.inlifehealthcare.com/wp-content/uploads/2014/11/Whey-protein-2-Kg-chocolate-logos.jpg" alt="">
        <h5 class="p-name">
          muscle powder</h5>
      <h4 class="p-price">Nrp 12000</h4>
      <a href="singleProduct.html">
        <button class="buy-btn">Buy Now</button></a>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="https://th.bing.com/th/id/R.4783058ec5163b57a3b5015a9d8332e5?rik=q12rkR8WBLvg8w&pid=ImgRaw&r=0" alt="">
      <h5 class="p-name">
        protion shack</h5>
    <h4 class="p-price">Nrp 7000</h4>
    <a href="singleProduct.html">
      <button class="buy-btn">Buy Now</button></a>
  </div>
      </section>

      <section id="banner" class="my-5 py-5">
        <div class="container">
          <h4>Best items </h4>
          <h1>milk shack <br>Chockchock choclate flavers</h1>
          <a href="shop.html">
          <button class="text-upppercase">Shop Now</button></a>
        </div>
      </section>

      <section id="clothes" class="my-5 pb-5" >
        <div class="container text-center mt-5 py-5">
          <h3>Regular items</h3>
          <hr>
          <p>Here you can check our most selling items.</p>
        </div>
        <div class="row mx-auto container-fluid">
          <div class="product text-center col-lg-3 col-md-4 col-12">
            <img class="img-fluid mb-3" src="https://th.bing.com/th/id/R.4783058ec5163b57a3b5015a9d8332e5?rik=q12rkR8WBLvg8w&pid=ImgRaw&r=0" alt="">
          <h5 class="p-name">
            musclepowder</h5>
          <h4 class="p-price">Nrp 190</h4>
          <button class="buy-btn">Buy Now</button>
        </div>
        <div class="product text-center col-lg-3 col-md-4 col-12">
          <img class="img-fluid mb-3" src="https://th.bing.com/th/id/OIP.cUVmbHl5_mT3g4GtNZsbdwHaGe?pid=ImgDet&rs=1" alt="">
       <h5 class="p-name">
        banan shack</h5>
        <h4 class="p-price">Nrp 72000</h4>
        <button class="buy-btn">Buy Now</button>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="https://cdn.premierprotein.com/p/a/seo/_1200x630_crop_center-center_82_none/home-products-family@2x.jpeg?mtime=1633364040" alt="">
      <h5 class="p-name">milk shack</h5>
      <h4 class="p-price">Nrp 11000</h4>
      <button class="buy-btn">Buy Now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="https://th.bing.com/th/id/R.b01725cb985ed4be43528b20b30ad262?rik=xBhWlmg7%2fWByLQ&pid=ImgRaw&r=0" alt="">
   <h5 class="p-name">
    protion powder </h5>
    <h4 class="p-price">Nrp 1000</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
      </section>

      <footer class="mt-5 py-5">
        <div class="row container mx-auto pt-5">
          <div class="footer-one col-lg-3 col-md-6 col-12">
            <img src="https://th.bing.com/th/id/OIP.T71hbAb-H2j13jo0_NeA_AHaHa?pid=ImgDet&rs=1" alt="">
            <p class="pt-3">Nepal's most top ten website
              <br> and well startup online selling goods.</p>
          </div>
          <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
            <li><a href="#">musclepowder</a></li>
          
          </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
          <h5 class="pb-2">Contact Us</h5>
          <div>
            <h6 class="text-uppercase">Address</h6>
            <p> Kathmandu, Nepal</p>
          </div>
          <div>
            <h6 class="text-uppercase">Address</h6>
            <p>+977 9808404287</p>
          </div>
          <div>
            <h6 class="text-uppercase">Mail</h6>
            <p>robertraj669@gmail.com</p>
          </div>
      </div>
      
      <div class="copyright mt-5">
        <div class="row container mx-auto">

          <div class="col-lg-3 col-md-6 col-12 text-nowrap mb-4">
            <img src="https://th.bing.com/th/id/R.ab184b462244ff34b672b90b4df4ca55?rik=%2feCl7KJFclEe2A&pid=ImgRaw&r=0" alt="">
          </div>

          <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
            <p>E-commerce 2022. All Rights Reserved</p>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <a href="https://www.facebook.com/profile.php?id=100009122181146"><i class="fab fa-facebook-f"></i></a>
           <a href="https://twitter.com/bkas_lingdam"><i class="fab fa-twitter"></i></a>
           <a href="https://www.linkedin.com/in/bkas-lingdam-b1187220b/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      </footer>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>
</html>
